@import 'var';

#header{border-bottom: 2px solid #333;}

#nav{
    h4{
        height: 42px;font-size:12px;color:#3C3C3C;padding-top: 10px;padding-left: 10px;
        a.tier1{font-size:14px;color:#3C3C3C;}
        a.tier2{font-weight: normal;}
        a.tier3{display: inline-block;font-weight: normal;color:#D7063B;height: 15px;line-height: 15px;width: 240px;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align: middle;}
        a:hover{color:$hoverC;}
    }
}

#main{margin-bottom: 22px;
    .container{
        border:1px solid $borderC;
        .main_l{
            position: relative;width: 451px;border-right:1px solid $borderC;
            .main_l_goods{
                width: 450px;border-bottom: 1px solid #e2e2e2;left: 0;top: 0;
                img{width: 450px;height: 450px;}
            }
            .main_l_smallList{margin: 10px 20px;
                li{
                    float: left;margin-right: 25px;cursor:pointer;border:1px solid #fff;
                    &:last-child{margin-right: 0;}
                    &:hover{border-color:$borderC;}
                    &.active{border-color:#FE9431;}
                }
            }
            .main_l_collect{
                border-top:1px solid #e2e2e2;
                span{
                    height: 40px;line-height: 40px;padding-left: 20px;cursor:pointer;color:#69696C;
                    i{color:#FE9431;margin-right: 5px;}
                    &:hover{color:#FE9431;}
                }
            }
        }
        .main_m{
            width: 535px;height: 100px;
            .main_m_1{
                padding:20px 20px 16px 26px;height: 95px;border-bottom: 1px solid $borderC;
                h2{font-size:18px;}
            }
            .main_m_2{
                height: 310px;padding:15px 10px;
                .sell{
                    background: #FFFAF2;height: 68px;padding: 15px 10px;
                    p{
                        font-size:12px;color:#999;
                        &.int{text-align: right;}
                        span.price{font-size:22px;color:#D7063B;font-weight: bold;padding-left: 20px;vertical-align: middle;}
                    }
                }
                .qty{
                    padding: 10px;
                    p.label{width: 68px;height: 32px;float: left;line-height: 32px;color:#999;}
                    button{width: 32px;height: 32px;text-align: center;line-height: 32px;border:1px solid $borderC;background: #fff;font-size:32px;float: left;}
                    button.sub{line-height: 29px;}
                    input{float: left;width: 45px;height:32px;border:1px solid $borderC;text-align: center;line-height: 32px;font-size:14px;}
                    .subtotal{height: 32px;line-height: 32px;color:#FFB346;}
                }
                .submit{
                    margin-top: 18px;padding-left: 80px;
                    .add2car{width: 170px;height: 48px;padding:0 15px;line-height: 48px;background: #C70034;color:#fff;border:0 none;font-size:20px;cursor:pointer;
                        i{font-size:24px;margin-right: 15px;}
                    }
                }
            }
            .main_m_3{
                margin: 0 20px;border-top: 1px dashed $borderC;padding-top: 10px;
                p.label{width: 76px;font-size:14px;color:#999;float: left;height: 22px;line-height: 22px;}
                .state{font-size:14px;color:#999;margin-top: 10px;padding-left: 75px;margin-bottom: 20px;
                    a{color:#00f;}
                }
                p.label_server{height: 32px;line-height: 32px;}
                p.icon{
                    span{padding: 0 10px;border:1px solid #FFB346;height: 32px;line-height: 32px;margin-right: 15px;color:#58bc58;
                        i{color:#FFB346;margin-right: 5px;}
                    }
                }
            }
        }
        .main_r{
            width: 202px;border-left:1px solid $borderC;
            p{
                height: 37px;line-height: 37px;border-bottom: 1px solid $borderC;font-size:14px;padding:0 20px;
                span.fl{font-weight: bold;}
                span.fr{
                    padding-left: 33px;position: relative;cursor:pointer;
                    i{width: 13px;height: 13px;background: url(img/icon_3.png) no-repeat -88px -18px;position: absolute;top: 12px;left: 10px;}
                    &:hover{color:#D7063B;
                        i{background-position:0 -48px;}
                    }
                }
            }
            ul li{
                padding:0 20px;
                img{width: 139px;}
                a.name{font-size:14px;height: 19px;line-height: 19px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
                span{width: 100%;text-align: center;color:#f00;}
            }
        }
    }
}

#section{
    margin-top: 10px;
}