@import 'var';

#header{border-bottom: 2px solid #333;}

#filter{
    margin-bottom: 10px;
    .top{
        height: 40px;padding:9px 0;
        &>div{
            font-size:12px;color:#CFCFCF;float: left;
            p{float: left;margin-right: 5px;
                span{color:$fontC;height: 22px;line-height: 22px;}
            }
            label{display: inline-block;float: left;
                input{width: 130px;height: 22px;border:1px solid #CFCFCF;border-right:0 none;float: left;padding-left: 7px;}
                button{width: 20px;height: 22px;border:1px solid #CFCFCF;border-left:0 none;float: left;background: url(img/icon_3.png) no-repeat -22px -26px;cursor:pointer;}
            }
        }
        a.btn_cleanAll{
            float: right;display: block;line-height: 22px;color:#333;font-size:12px;
            &:hover{text-decoration: underline;color:$hoverC;}
        }
    }
    .table{
        table{
            border:2px solid $borderC;
            tr{
                border-bottom: 1px dashed $borderC;
                td{padding: 5px 0;line-height: 30px;font-size:12px;
                    &:first-child{width: 132px;background: #F7F7F7;padding-right: 15px;text-align: right;color:#999;}
                    &:last-child{width: 1056px;background: #fff;padding-left: 10px;color:#333;}
                }
                &:nth-child(3){
                    td.brand{
                        ul{
                            width: 930px;
                            li{
                                float: left;border:1px solid $borderC;margin: -1px -1px 0 0;width: 117px;height: 56px;
                                a{display: block;height: 54px;line-height: 54px;text-align: center;padding: 0 15px;}
                                &:hover a{border:2px solid $hoverC;line-height: 50px;}
                            }
                        }
                        &>div{width: 130px;float: right;
                            button{margin: 0;padding: 0;width: 50px;height: 20px;line-height: 20px;text-align: center;margin: 5px;margin-left: 10px;cursor:pointer;}
                            span{padding:0 5px;margin: 5px;cursor:pointer;
                                i{font-size:12px;margin-left: 3px;}
                                &:hover{color:$hoverC;}
                            }
                        }
                    }
                }
                &:nth-child(4){
                    td.country{
                        ul li{
                            float: left;
                            a{
                                display: inline-block;height: 40px;line-height: 40px;padding: 0 15px;
                                &:hover{color:$hoverC;}
                            }
                            button{margin: 0;padding: 0;width: 50px;height: 20px;line-height: 20px;text-align: center;margin: 10px;margin-left: 20px;cursor:pointer;}
                            span{padding:0 5px;margin: 5px 10px;cursor:pointer;
                                i{font-size:12px;margin-left: 3px;}
                                &:hover{color:$hoverC;}
                            }
                        }
                    }
                }
                &:nth-child(5){
                    td.price_filter{
                        ul li{
                            float: left;
                            a{
                                display: inline-block;height: 40px;line-height: 40px;padding: 0 15px;
                                &:hover{color:$hoverC;}
                            }
                            input{width: 40px;height: 22px;margin: 9px 5px;text-align: center;}
                        }
                    }
                }
                &:last-child{
                    td.more{
                        ul li{
                            float: left;
                            span{
                                display: inline-block;height: 40px;line-height: 40px;padding: 0 15px;cursor:pointer;
                                i{font-size:12px;margin-left: 3px;}
                                &:hover{color:$hoverC;}
                            }
                        }
                    }
                }
            }
        }
    }
}

#main{margin-bottom: 60px;
    .main_l{
        width: 180px;border:1px solid $borderC;
        h4{height: 36px;line-height: 36px;font-size:14px;color:#333;padding-left: 10px;background: #FAFAFA;border-bottom:1px solid $borderC;}
        #main_history{
            ul li{
                padding: 13px;overflow: hidden;border-bottom: 1px dashed $borderC;
                .photo{float: left;margin-right: 10px;
                    img{width: 50px;height: 50px;}
                }
                p{
                    float: left;width: 80px;font-size:12px;
                    a{
                        display: block;height: 32px;overflow: hidden;
                        &:hover{text-decoration: underline;color:$hoverC;height: 32px;overflow: hidden;}
                    }
                    span{color:$hoverC;}
                }
                &:last-child{border:0 none;}
            }
        }
    }
    .main_r{width: 1000px;
        .sort{
            padding:5px;background: #E0E0E0;
            ul{border-top:1px solid $borderC;border-left:1px solid $borderC;
                li{
                    float: left;border-right:1px solid $borderC;border-bottom:1px solid $borderC;padding:0 12px;font-size:12px;height: 26px;background: #fff;
                    span{line-height: 26px;cursor:pointer;}
                    &:nth-child(3){
                        span{
                            position: relative;padding-right:20px;
                            i{position: absolute;right: 0px;top: -3px;font-size:12px;}
                            i.down{top: 4px;}
                        }
                    }
                    &:hover span{color:$hoverC;}
                    &:last-child{
                        margin-left: 5px;border-left: 1px solid $borderC;
                        label{display: inline-block;height: 26px;line-height: 26px;vertical-align: middle;}
                        select{vertical-align: middle;}
                    }
                }
            }
            .all{
                font-size:14px;height: 27px;line-height: 27px;
                .all_num{
                    margin-right: 10px;
                    span{color:#58bc58;}
                }
                .all_page{
                    .left,.right{width: 20px;height: 20px;background: #fff;text-align: center;line-height: 17px;vertical-align: middle;border:1px solid $borderC;margin-top: -2px;cursor:pointer;}
                    .center{
                        b.now{color:#f00;}
                    }
                }
            }
        }
        .other{
            height: 38px;padding:9px 5px;background: #F3F3F3;font-size:14px;
            label{margin-right: 20px;}
            margin-bottom: 10px;
        }
        .goodslist{
            ul{
                li{
                    width: 250px;height: 380px;margin-bottom: 10px;padding:1px 12px;float: left;
                    img{margin: 0 auto;}
                    p.price{font-size:18px;color:#f00;line-height: 30px;}
                    a.name{
                        display: block;height: 30px;line-height: 30px;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;font-size:14px;color:#222;
                        &:hover{color:$hoverC;}
                    }
                    p.add2car{margin: 10px 0;
                        button{width: 100px;height: 30px;border:1px solid $borderC;background: #FFF0F2;color:#D7063B;font-size:12px;text-align: center;line-height: 30px;margin: 0 auto;display: block;cursor:pointer;}
                    }
                    p.comment{
                        font-size:12px;margin-bottom: 10px;
                        span{color:#2b9;font-weight: bold;}
                    }
                    p.shop{font-size:12px;color:#999;}
                    &:hover{border:1px solid $hoverC;padding: 0 11px;}
                }
            }
        }
        .page{
            ul{padding-left:250px;
                li{
                    float: left;border:1px solid $borderC;margin-right: 5px;cursor:pointer;
                    span{padding:0 15px;height: 38px;line-height: 38px;}
                    &.active{
                        background: #f00;
                        span{color:#fff;}
                    }
                }
            }
        }
    }
}

#aside{
    position: fixed;right: 0;bottom: 0;display: none;
    span{
        width: 36px;height: 30px;border:1px solid #f60;background: #8d5;color:#fff;cursor:pointer;text-align: center;line-height: 30px;font-size:30px;
        &:hover{opacity:0.7;}
    }
}
