
// 导入var.scss
@import 'var';

#banner{
    height: 454px;padding: 0 36px;background: #FDB2D0;margin-bottom:25px;
    #banner_lbt{
        margin-left:190px;float: left;
    }
    .banner_right{
        width: 200px;height: 434px;background: #fff;margin-top:10px;
        .banner_right1{
            padding:10px;border-bottom:1px dashed #ccc;
            ul li{
                float: left;width: 50px;margin-right:15px;
                &:last-child{margin-right: 0;}
                a{
                    display: block;height: 68px;padding-top:55px;font-size:12px;color:#6D696B;position: relative;
                    i{width: 50px;height: 50px;background:url(img/icon_1.png) no-repeat -50px -160px;position: absolute;left: 0;top: 0;}
                    &:hover{color:$hoverC;}
                }
                &:nth-child(2) a i{background-position: -100px -160px;}
                &:nth-child(3) a i{background-position: -150px -160px;}
            }
        }
        .banner_right2{
            height: 58px;padding:10px 0 0 14px;
            a{
                font-size:12px;color:#6D696B;
                &:hover{color:$hoverC;text-decoration: underline;}
            }
        }
        .banner_right3{
            height: 162px;border:0 none;background: #eee;
            ul li{
                width: 70px;padding: 0;margin: 0;text-align: center;margin-right:10px;
                a{margin: 0;padding: 0;}
            }
            .tabs0{
                padding:10px;
                input{width: 170px;height: 26px;border:1px solid #E1DDDF;margin-bottom: 2px;padding-left:5px;font-size:12px;}
            }
            button{width: 80px;height: 28px;background: #D80E42;text-align: center;line-height: 28px;font-size:12px;color:#fff;border:0 none;margin-left: 10px;}
        }
    }
}
#main{
    .main0{
        margin-bottom: 26px;
        .main0_t{
            h3{
                font-size:22px;color:$fontC;line-height: 35px;width: 150px;float: left;font-weight: normal;
                i{font-style: normal;width: 30px;height: 25px;background: url(img/icon_2.png) no-repeat -124px -94px;color:#FFF;font-size:12px;text-align: center;line-height: 20px;vertical-align: middle;margin-right: 10px;}
            }
            ul{
                border:1px solid #E9E9E9;border-bottom:0 none;position: absolute;right: 36px;
                li{
                    float: left;height: 35px;padding-top:6px;cursor:pointer;
                    span{padding:0 36px;border-right:1px solid #ccc;font-size:12px;color:#666;}
                    &.active{
                        border:1px solid #D7063B;border-bottom:1px solid #fff;margin-top: -1px;margin-left: -1px;height: 36px;
                        span{color:#D7063B;border:0 none;}
                    }
                    &:last-child{
                        span{
                            border-right:0 none;
                        }
                    }
                    &:last-child.lastActive{margin-right: -1px;}
                }
            }
        }
        .main0_m{
            border-top:1px solid #D7063B;overflow: hidden;
            .main0_m_l{float: left;}
            .main0_m_r{
                float: left;
                .content0{
                    display: none;
                    &>ul{
                        width: 1000px;
                        &>li{float: left;border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
                    }
                }
                .content2{
                    &>ul>li{
                        width: 200px;height: 244px;padding:10px 19px 0 20px;
                        a.name{display: block;width: 160px;height: 36px;line-height: 18px;margin-top: 7px;font-size:12px;color:$fontC;}
                        b.price{
                            display: block;height: 18px;line-height: 18px;overflow: hidden;
                            i{font-size:14px;color:#d7063b;font-style: normal;}
                            span._price{font-size:16px;color:#d7063b;}
                        }
                        &:hover a{color:$hoverC;}
                    }
                }
            }
        }
        .main0_b{
            margin:25px 0 14px 0;
            ul li{
                padding:0 9px;float:left;border-right:1px dashed #ccc;
                &:last-child{border:0 none;}
                a{display:block;width:100px;height:30px;background:url(img/icon_business.png) no-repeat 0 0;}
                @for $i from 1 through 10{
                    $x: - (($i - 1) * 100px);
                    &:nth-child(#{$i}) a{background-position:$x 0};
                }
            }
        }
    }
    .main0_0{
        .main0_m{
            .main0_m_l{
                width: 190px;background: url(../img/index_1f_l1.jpg) no-repeat 0 0;padding-top:244px;
                a{
                    font-size:12px;color:$fontC;display: block;
                    &:hover{text-decoration: underline;color:$hoverC;}
                }
                .main0_m_l_m{
                    height: 62px;background: #FEE6D4;padding-left:18px;padding-top:13px;line-height: 20px;
                }
                .main0_m_l_b{
                    height: 182px;padding:16px;background: #FEF0E5;
                    ul li{
                        float: left;margin-right: 15px;line-height: 28px;
                    }
                }
            }
        }
    }
    .main0_1{
        .main0_m{
            .main0_m_l{
                width: 390px;background: url(../img/index_3f_l1.jpg) no-repeat 0 0;padding-top:244px;
                a{
                    font-size:12px;color:$fontC;display: block;
                    &:hover{text-decoration: underline;color:$hoverC;}
                }
                .main0_m_l_m{
                    height: 65px;background: #FEDCEC;padding-left:25px;padding-top:13px;line-height: 20px;
                }
                .main0_m_l_b{
                    height: 180px;padding:22px 25px;background: #FEEAF3;
                    &>div{
                        float: left;width: 150px;
                        &.left{margin-right: 30px;}
                        .l1 li a{font-size:14px;line-height: 25px;}
                        .l2 li{
                            float: left;margin-right: 15px;line-height: 28px;
                        }
                    }
                }
            }
            .main0_m_r{
                .content0>ul{width: 800px;}
            }
        }
    }

    #main2{
        .main0_m{
            .main0_m_l{
                background: url(../img/index_2f_l1.jpg) no-repeat 0 0;
                .main0_m_l_m{background: #FFE2ED;}
                .main0_m_l_b{background: #FFEDF4;}
            }
        }
        .main0_b ul li{
            @for $i from 1 through 10{
                $x: - (($i - 1) * 100px);
                &:nth-child(#{$i}) a{background-position:$x -30px};
            }
        }
    }
    #main3{
        .main0_m{}
        .main0_b ul li{
            @for $i from 1 through 10{
                $x: - (($i - 1) * 100px);
                &:nth-child(#{$i}) a{background-position:$x -60px};
            }
        }
    }
    #main4{
        .main0_m{
            .main0_m_l{background: url(../img/index_4f_l1.jpg) no-repeat 0 0;}
            .main0_m_l_m{background: #F0D4C7;}
            .main0_m_l_b{background: #F8E6DF;}
        }
        .main0_b ul li{
            @for $i from 1 through 10{
                $x: - (($i - 1) * 100px);
                &:nth-child(#{$i}) a{background-position:$x -90px};
            }
        }
    }
    #main5{
        .main0_m{
            .main0_m_l{background: url(../img/index_5f_l1.jpg) no-repeat 0 0;}
            .main0_m_l_m{background: #CAF4F4;}
            .main0_m_l_b{background: #DFF8F8;}
        }
        .main0_b ul li{
            @for $i from 1 through 10{
                $x: - (($i - 1) * 100px);
                &:nth-child(#{$i}) a{background-position:$x -150px};
            }
        }
    }
    #main6{
        .main0_m{
            .main0_m_l{
                background: url(../img/index_6f_l1.jpg) no-repeat 0 0;
                .main0_m_l_m{background: #EFE5F3;}
                .main0_m_l_b{background: #F5F0F8;}
            }
        }
        .main0_b ul li{
            @for $i from 1 through 10{
                $x: - (($i - 1) * 100px);
                &:nth-child(#{$i}) a{background-position:$x -120px};
            }
        }
    }
    .AD{margin-bottom:25px;}
}
#aside{display: none;
    .aside_top{
        position: fixed;top: 0;left: 0;width: 100%;
        .shade{width: 100%;height: 50px;background: rgba(0,0,0,.6);position: absolute;top: 0;left: 0;}
        h2{width: 100px;height: 40px;background: url(img/feiniu_main_logo_hui.png) no-repeat 0 0;position: absolute;left: 40px;top:5px;}
        p{
            position: absolute;top:5px;left:340px;
            input{width: 444px;height: 40px;border:2px solid #D7063B;padding-left:40px;float: left;}
            button{width: 98px;height: 40px;background: #D7063B;color:#fff;font-size:18px;text-align: center;line-height: 40px;border:0 none;float: left;border-radius:0 5px 5px 0;cursor:pointer;letter-spacing:8px;}
            i{position: absolute;width: 20px;height: 20px;background: url(img/icon_1.png) no-repeat 0 -52px;left: 10px;top: 10px;}
        }
    }
    .aside_right{
        width: 35px;position: fixed;right: 0;top: 0;
        .shade{width: 100%;height: 100%;background: rgba(0,0,0,.6);position: absolute;top: 0;left: 0;}
        ul{
            margin-top:266px;position: relative;
            li{
                font-size:12px;margin-bottom:10px;
                a{
                    color:#fff;position: relative;display: block;width: 35px;height: 35px;padding:0 6px;
                    i{position: absolute;font-size:18px;}
                    span{position: absolute;width: 92px;height: 35px;text-align: center;line-height: 35px;left: 0;top: 0;background: #666;display: none;}
                }
                &:hover a{background: $hoverC;}
                &:first-child{margin-bottom: 10px;
                    a{
                        height: 116px;padding:36px 10px 40px;position: relative;
                        i{position: absolute;top: 12px;left: 6px;}
                        b{display: block;width: 20px;height: 20px;text-align: center;line-height: 20px;background: $hoverC;border-radius:50%;bottom: 5px;left: 7px;position: absolute;}
                    }
                }
                &:last-child{
                    margin-bottom: 0px;margin-top: 26px;
                    a{cursor:pointer;
                        i{font-size:25px;}
                    }
                }
            }
        }
    }
}
#asideL{
    width:34px;position:fixed;left:0;top:50%;transform:translate(0,-50%);display:none;
    a{display:block;height:36px;width:34px;font-size:12px;color:#5E5E5E;text-align:center;border-top:1px solid #ccc;border-right:1px solid #ccc;}
    &>a{background:#957682;color:#fff;}
    ul{
        border-bottom:1px solid #ccc;
        li{
            a.first{line-height:36px;}
            a.last{color:#fff;background:#FF6B6B;display:none;}
            &:hover a.first{background:#FF6B6B;color:#fff;}
        }
    }
}