#step { height: 100px; padding-top: 20px; margin-bottom: 15px; }

#main { background: #EBEBEB; padding-bottom: 20px; }

#main .main_t { height: 30px; }

#main .main_t h4.main_t_l { color: #D7063B; height: 32px; line-height: 30px; border-bottom: 2px solid #D7063B; margin-bottom: -2px; }

#main .main_t .main_t_r { margin-top: 3px; }

#main .main_t .main_t_r a { color: #0066CC; font-size: 12px; margin-left: 5px; }

#main table.main_m { border-top: 2px solid #D9D9D9; border-bottom: 2px solid #D9D9D9; width: 100%; }

#main table.main_m thead tr { background: #fff; height: 50px; border-bottom: 1px solid #FF9018; }

#main table.main_m thead tr th:first-child { width: 38px; }

#main table.main_m thead tr th:first-child input { width: 15px; height: 15px; }

#main table.main_m thead tr th:nth-child(2) { width: 88px; text-align: left; }

#main table.main_m thead tr th:nth-child(3) { width: 370px; }

#main table.main_m thead tr th:nth-child(4) { width: 110px; }

#main table.main_m thead tr th:nth-child(5) { width: 180px; }

#main table.main_m thead tr th:nth-child(6) { width: 150px; }

#main table.main_m thead tr th:last-child { width: 120px; }

#main table.main_m tbody tr { background: #fff; padding: 15px 0; }

#main table.main_m tbody tr td { height: 110px; text-align: center; color: #333; border-bottom: 1px solid #ccc; }

#main table.main_m tbody tr td img { width: 80px; height: 80px; }

#main table.main_m tbody tr td:nth-child(3) a:hover { color: #D7063B; text-decoration: underline; }

#main table.main_m tbody tr td:nth-child(4) { color: #FF9018; }

#main table.main_m tbody tr td:nth-child(5) { padding-left: 50px; }

#main table.main_m tbody tr td:nth-child(5) button { width: 32px; height: 32px; text-align: center; line-height: 32px; border: 1px solid #ccc; background: #fff; font-size: 32px; float: left; color: #FF9018; cursor: pointer; }

#main table.main_m tbody tr td:nth-child(5) button.sub { line-height: 29px; }

#main table.main_m tbody tr td:nth-child(5) input { float: left; width: 45px; height: 32px; border: 1px solid #ccc; text-align: center; line-height: 32px; font-size: 14px; }

#main table.main_m tbody tr td:nth-child(5) .subtotal { height: 32px; line-height: 32px; color: #FFB346; }

#main table.main_m tbody tr td:nth-child(6) { color: #D7063B; font-weight: bold; }

#main table.main_m tbody tr td:last-child button { width: 30px; height: 25px; font-size: 25px; line-height: 20px; cursor: pointer; }

#main table.main_m tbody tr td:last-child button:hover { background: #f00; color: #fff; border-color: #FF9018; }

#main table.main_m tfoot tr { background: #fff; }

#main table.main_m tfoot tr:first-child { border-bottom: 1px solid #e6e6e6; }

#main table.main_m tfoot tr:first-child td { height: 46px; }

#main table.main_m tfoot tr:first-child td ul li { float: left; font-size: 12px; margin-right: 26px; }

#main table.main_m tfoot tr:last-child td { height: 60px; padding: 10px 15px; }

#main table.main_m tfoot tr:last-child td .left ul li { float: left; line-height: 48px; margin-right: 28px; color: #0066CC; cursor: pointer; }

#main table.main_m tfoot tr:last-child td .left ul li:first-child { color: #333; }

#main table.main_m tfoot tr:last-child td .left ul li:first-child input { margin-right: 7px; }

#main table.main_m tfoot tr:last-child td .right p { display: inline-block; color: #666; font-size: 12px; margin-right: 10px; }

#main table.main_m tfoot tr:last-child td .right p span { font-size: 20px; color: #D7063B; }

#main table.main_m tfoot tr:last-child td .right .account { width: 170px; height: 48px; padding: 0 15px; line-height: 48px; background: #C70034; color: #fff; border: 0 none; font-size: 20px; cursor: pointer; }

#likes .bottom > span { position: absolute; display: block; font-size: 40px; z-index: 1000; top: 50%; transform: translate(0, -50%); color: #666; background: rgba(0, 0, 0, 0.3); cursor: pointer; }

#likes .bottom .turnL { left: 0; }

#likes .bottom .turnR { right: 0; }

#likes .bottom .bottom_ul > li { float: left; }
