#banner { height: 454px; padding: 0 36px; background: #FDB2D0; margin-bottom: 25px; }

#banner #banner_lbt { margin-left: 190px; float: left; }

#banner .banner_right { width: 200px; height: 434px; background: #fff; margin-top: 10px; }

#banner .banner_right .banner_right1 { padding: 10px; border-bottom: 1px dashed #ccc; }

#banner .banner_right .banner_right1 ul li { float: left; width: 50px; margin-right: 15px; }

#banner .banner_right .banner_right1 ul li:last-child { margin-right: 0; }

#banner .banner_right .banner_right1 ul li a { display: block; height: 68px; padding-top: 55px; font-size: 12px; color: #6D696B; position: relative; }

#banner .banner_right .banner_right1 ul li a i { width: 50px; height: 50px; background: url(img/icon_1.png) no-repeat -50px -160px; position: absolute; left: 0; top: 0; }

#banner .banner_right .banner_right1 ul li a:hover { color: #D7063B; }

#banner .banner_right .banner_right1 ul li:nth-child(2) a i { background-position: -100px -160px; }

#banner .banner_right .banner_right1 ul li:nth-child(3) a i { background-position: -150px -160px; }

#banner .banner_right .banner_right2 { height: 58px; padding: 10px 0 0 14px; }

#banner .banner_right .banner_right2 a { font-size: 12px; color: #6D696B; }

#banner .banner_right .banner_right2 a:hover { color: #D7063B; text-decoration: underline; }

#banner .banner_right .banner_right3 { height: 162px; border: 0 none; background: #eee; }

#banner .banner_right .banner_right3 ul li { width: 70px; padding: 0; margin: 0; text-align: center; margin-right: 10px; }

#banner .banner_right .banner_right3 ul li a { margin: 0; padding: 0; }

#banner .banner_right .banner_right3 .tabs0 { padding: 10px; }

#banner .banner_right .banner_right3 .tabs0 input { width: 170px; height: 26px; border: 1px solid #E1DDDF; margin-bottom: 2px; padding-left: 5px; font-size: 12px; }

#banner .banner_right .banner_right3 button { width: 80px; height: 28px; background: #D80E42; text-align: center; line-height: 28px; font-size: 12px; color: #fff; border: 0 none; margin-left: 10px; }

#main .main0 { margin-bottom: 26px; }

#main .main0 .main0_t h3 { font-size: 22px; color: #666; line-height: 35px; width: 150px; float: left; font-weight: normal; }

#main .main0 .main0_t h3 i { font-style: normal; width: 30px; height: 25px; background: url(img/icon_2.png) no-repeat -124px -94px; color: #FFF; font-size: 12px; text-align: center; line-height: 20px; vertical-align: middle; margin-right: 10px; }

#main .main0 .main0_t ul { border: 1px solid #E9E9E9; border-bottom: 0 none; position: absolute; right: 36px; }

#main .main0 .main0_t ul li { float: left; height: 35px; padding-top: 6px; cursor: pointer; }

#main .main0 .main0_t ul li span { padding: 0 36px; border-right: 1px solid #ccc; font-size: 12px; color: #666; }

#main .main0 .main0_t ul li.active { border: 1px solid #D7063B; border-bottom: 1px solid #fff; margin-top: -1px; margin-left: -1px; height: 36px; }

#main .main0 .main0_t ul li.active span { color: #D7063B; border: 0 none; }

#main .main0 .main0_t ul li:last-child span { border-right: 0 none; }

#main .main0 .main0_t ul li:last-child.lastActive { margin-right: -1px; }

#main .main0 .main0_m { border-top: 1px solid #D7063B; overflow: hidden; }

#main .main0 .main0_m .main0_m_l { float: left; }

#main .main0 .main0_m .main0_m_r { float: left; }

#main .main0 .main0_m .main0_m_r .content0 { display: none; }

#main .main0 .main0_m .main0_m_r .content0 ul { width: 1000px; }

#main .main0 .main0_m .main0_m_r .content0 ul li { float: left; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; }

#main .main0 .main0_b { margin: 25px 0 14px 0; }

#main .main0 .main0_b ul li { padding: 0 9px; float: left; border-right: 1px dashed #ccc; }

#main .main0 .main0_b ul li:last-child { border: 0 none; }

#main .main0 .main0_b ul li a { display: block; width: 100px; height: 30px; background: url(img/icon_business.png) no-repeat 0 0; }

#main .main0 .main0_b ul li:nth-child(1) a { background-position: 0px 0; }

#main .main0 .main0_b ul li:nth-child(2) a { background-position: -100px 0; }

#main .main0 .main0_b ul li:nth-child(3) a { background-position: -200px 0; }

#main .main0 .main0_b ul li:nth-child(4) a { background-position: -300px 0; }

#main .main0 .main0_b ul li:nth-child(5) a { background-position: -400px 0; }

#main .main0 .main0_b ul li:nth-child(6) a { background-position: -500px 0; }

#main .main0 .main0_b ul li:nth-child(7) a { background-position: -600px 0; }

#main .main0 .main0_b ul li:nth-child(8) a { background-position: -700px 0; }

#main .main0 .main0_b ul li:nth-child(9) a { background-position: -800px 0; }

#main .main0 .main0_b ul li:nth-child(10) a { background-position: -900px 0; }

#main .main0_0 .main0_m .main0_m_l { width: 190px; background: url(../img/index_1f_l1.jpg) no-repeat 0 0; padding-top: 244px; }

#main .main0_0 .main0_m .main0_m_l a { font-size: 12px; color: #666; display: block; }

#main .main0_0 .main0_m .main0_m_l a:hover { text-decoration: underline; color: #D7063B; }

#main .main0_0 .main0_m .main0_m_l .main0_m_l_m { height: 62px; background: #FEE6D4; padding-left: 18px; padding-top: 13px; line-height: 20px; }

#main .main0_0 .main0_m .main0_m_l .main0_m_l_b { height: 182px; padding: 16px; background: #FEF0E5; }

#main .main0_0 .main0_m .main0_m_l .main0_m_l_b ul li { float: left; margin-right: 15px; line-height: 28px; }

#main .main0_1 .main0_m .main0_m_l { width: 390px; background: url(../img/index_3f_l1.jpg) no-repeat 0 0; padding-top: 244px; }

#main .main0_1 .main0_m a { font-size: 12px; color: #666; display: block; }

#main .main0_1 .main0_m a:hover { text-decoration: underline; color: #D7063B; }

#main .main0_1 .main0_m .main0_m_l_m { height: 65px; background: #FEDCEC; padding-left: 25px; padding-top: 13px; line-height: 20px; }

#main .main0_1 .main0_m .main0_m_l_b { height: 180px; padding: 22px 25px; background: #FEEAF3; }

#main .main0_1 .main0_m .main0_m_l_b > div { float: left; width: 150px; }

#main .main0_1 .main0_m .main0_m_l_b > div.left { margin-right: 30px; }

#main .main0_1 .main0_m .main0_m_l_b > div .l1 li a { font-size: 14px; line-height: 25px; }

#main .main0_1 .main0_m .main0_m_l_b > div .l2 li { float: left; margin-right: 15px; line-height: 28px; }

#main #main2 .main0_m .main0_m_l { background: url(../img/index_2f_l1.jpg) no-repeat 0 0; }

#main #main2 .main0_m .main0_m_l .main0_m_l_m { background: #FFE2ED; }

#main #main2 .main0_m .main0_m_l .main0_m_l_b { background: #FFEDF4; }

#main #main2 .main0_b ul li:nth-child(1) a { background-position: 0px -30px; }

#main #main2 .main0_b ul li:nth-child(2) a { background-position: -100px -30px; }

#main #main2 .main0_b ul li:nth-child(3) a { background-position: -200px -30px; }

#main #main2 .main0_b ul li:nth-child(4) a { background-position: -300px -30px; }

#main #main2 .main0_b ul li:nth-child(5) a { background-position: -400px -30px; }

#main #main2 .main0_b ul li:nth-child(6) a { background-position: -500px -30px; }

#main #main2 .main0_b ul li:nth-child(7) a { background-position: -600px -30px; }

#main #main2 .main0_b ul li:nth-child(8) a { background-position: -700px -30px; }

#main #main2 .main0_b ul li:nth-child(9) a { background-position: -800px -30px; }

#main #main2 .main0_b ul li:nth-child(10) a { background-position: -900px -30px; }

#main #main3 .main0_b ul li:nth-child(1) a { background-position: 0px -60px; }

#main #main3 .main0_b ul li:nth-child(2) a { background-position: -100px -60px; }

#main #main3 .main0_b ul li:nth-child(3) a { background-position: -200px -60px; }

#main #main3 .main0_b ul li:nth-child(4) a { background-position: -300px -60px; }

#main #main3 .main0_b ul li:nth-child(5) a { background-position: -400px -60px; }

#main #main3 .main0_b ul li:nth-child(6) a { background-position: -500px -60px; }

#main #main3 .main0_b ul li:nth-child(7) a { background-position: -600px -60px; }

#main #main3 .main0_b ul li:nth-child(8) a { background-position: -700px -60px; }

#main #main3 .main0_b ul li:nth-child(9) a { background-position: -800px -60px; }

#main #main3 .main0_b ul li:nth-child(10) a { background-position: -900px -60px; }

#main #main4 .main0_m .main0_m_l { background: url(../img/index_4f_l1.jpg) no-repeat 0 0; }

#main #main4 .main0_m .main0_m_l_m { background: #F0D4C7; }

#main #main4 .main0_m .main0_m_l_b { background: #F8E6DF; }

#main #main4 .main0_b ul li:nth-child(1) a { background-position: 0px -90px; }

#main #main4 .main0_b ul li:nth-child(2) a { background-position: -100px -90px; }

#main #main4 .main0_b ul li:nth-child(3) a { background-position: -200px -90px; }

#main #main4 .main0_b ul li:nth-child(4) a { background-position: -300px -90px; }

#main #main4 .main0_b ul li:nth-child(5) a { background-position: -400px -90px; }

#main #main4 .main0_b ul li:nth-child(6) a { background-position: -500px -90px; }

#main #main4 .main0_b ul li:nth-child(7) a { background-position: -600px -90px; }

#main #main4 .main0_b ul li:nth-child(8) a { background-position: -700px -90px; }

#main #main4 .main0_b ul li:nth-child(9) a { background-position: -800px -90px; }

#main #main4 .main0_b ul li:nth-child(10) a { background-position: -900px -90px; }

#main #main5 .main0_m .main0_m_l { background: url(../img/index_5f_l1.jpg) no-repeat 0 0; }

#main #main5 .main0_m .main0_m_l_m { background: #CAF4F4; }

#main #main5 .main0_m .main0_m_l_b { background: #DFF8F8; }

#main #main5 .main0_b ul li:nth-child(1) a { background-position: 0px -150px; }

#main #main5 .main0_b ul li:nth-child(2) a { background-position: -100px -150px; }

#main #main5 .main0_b ul li:nth-child(3) a { background-position: -200px -150px; }

#main #main5 .main0_b ul li:nth-child(4) a { background-position: -300px -150px; }

#main #main5 .main0_b ul li:nth-child(5) a { background-position: -400px -150px; }

#main #main5 .main0_b ul li:nth-child(6) a { background-position: -500px -150px; }

#main #main5 .main0_b ul li:nth-child(7) a { background-position: -600px -150px; }

#main #main5 .main0_b ul li:nth-child(8) a { background-position: -700px -150px; }

#main #main5 .main0_b ul li:nth-child(9) a { background-position: -800px -150px; }

#main #main5 .main0_b ul li:nth-child(10) a { background-position: -900px -150px; }

#main #main6 .main0_m .main0_m_l { background: url(../img/index_6f_l1.jpg) no-repeat 0 0; }

#main #main6 .main0_m .main0_m_l .main0_m_l_m { background: #EFE5F3; }

#main #main6 .main0_m .main0_m_l .main0_m_l_b { background: #F5F0F8; }

#main #main6 .main0_b ul li:nth-child(1) a { background-position: 0px -120px; }

#main #main6 .main0_b ul li:nth-child(2) a { background-position: -100px -120px; }

#main #main6 .main0_b ul li:nth-child(3) a { background-position: -200px -120px; }

#main #main6 .main0_b ul li:nth-child(4) a { background-position: -300px -120px; }

#main #main6 .main0_b ul li:nth-child(5) a { background-position: -400px -120px; }

#main #main6 .main0_b ul li:nth-child(6) a { background-position: -500px -120px; }

#main #main6 .main0_b ul li:nth-child(7) a { background-position: -600px -120px; }

#main #main6 .main0_b ul li:nth-child(8) a { background-position: -700px -120px; }

#main #main6 .main0_b ul li:nth-child(9) a { background-position: -800px -120px; }

#main #main6 .main0_b ul li:nth-child(10) a { background-position: -900px -120px; }

#main .AD { margin-bottom: 25px; }

#aside { display: none; }

#aside .aside_top { position: fixed; top: 0; left: 0; width: 100%; }

#aside .aside_top .shade { width: 100%; height: 50px; background: rgba(0, 0, 0, 0.6); position: absolute; top: 0; left: 0; }

#aside .aside_top h2 { width: 100px; height: 40px; background: url(img/feiniu_main_logo_hui.png) no-repeat 0 0; position: absolute; left: 40px; top: 5px; }

#aside .aside_top p { position: absolute; top: 5px; left: 340px; }

#aside .aside_top p input { width: 444px; height: 40px; border: 2px solid #D7063B; padding-left: 40px; float: left; }

#aside .aside_top p button { width: 98px; height: 40px; background: #D7063B; color: #fff; font-size: 18px; text-align: center; line-height: 40px; border: 0 none; float: left; border-radius: 0 5px 5px 0; cursor: pointer; letter-spacing: 8px; }

#aside .aside_top p i { position: absolute; width: 20px; height: 20px; background: url(img/icon_1.png) no-repeat 0 -52px; left: 10px; top: 10px; }

#aside .aside_right { width: 35px; position: fixed; right: 0; top: 0; }

#aside .aside_right .shade { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); position: absolute; top: 0; left: 0; }

#aside .aside_right ul { margin-top: 266px; position: relative; }

#aside .aside_right ul li { font-size: 12px; margin-bottom: 10px; }

#aside .aside_right ul li a { color: #fff; position: relative; display: block; width: 35px; height: 35px; padding: 0 6px; }

#aside .aside_right ul li a i { position: absolute; font-size: 18px; }

#aside .aside_right ul li a span { position: absolute; width: 92px; height: 35px; text-align: center; line-height: 35px; left: 0; top: 0; background: #666; display: none; }

#aside .aside_right ul li:hover a { background: #D7063B; }

#aside .aside_right ul li:first-child { margin-bottom: 10px; }

#aside .aside_right ul li:first-child a { height: 116px; padding: 36px 10px 40px; position: relative; }

#aside .aside_right ul li:first-child a i { position: absolute; top: 12px; left: 6px; }

#aside .aside_right ul li:first-child a b { display: block; width: 20px; height: 20px; text-align: center; line-height: 20px; background: #D7063B; border-radius: 50%; bottom: 5px; left: 7px; position: absolute; }

#aside .aside_right ul li:last-child { margin-bottom: 0px; margin-top: 26px; }

#aside .aside_right ul li:last-child a { cursor: pointer; }

#aside .aside_right ul li:last-child a i { font-size: 25px; }

#asideL { width: 34px; position: fixed; left: 0; top: 50%; transform: translate(0, -50%); display: none; }

#asideL a { display: block; height: 36px; width: 34px; font-size: 12px; color: #5E5E5E; text-align: center; border-top: 1px solid #ccc; border-right: 1px solid #ccc; }

#asideL > a { background: #957682; color: #fff; }

#asideL ul { border-bottom: 1px solid #ccc; }

#asideL ul li a.first { line-height: 36px; }

#asideL ul li a.last { color: #fff; background: #FF6B6B; display: none; }

#asideL ul li:hover a.first { background: #FF6B6B; color: #fff; }
